html {
    height:100%;
    margin:auto;
}

body {
    background-color:#1D1D1D;
    background-size:cover;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    transform: scale(1);
    background-size: auto, cover;
    font-family: arial;
}

#wrapper {
    -webkit-overflow-scrolling: touch;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    z-index: 2;
}

#main {
    display: flex;
    position: relative;
    max-width: 100%;
    z-index: 1;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    text-align: center;
}

#main > .inner > * {
    height:100%;
    margin:auto;
}

.flair {
    position:absolute;
    z-index:-2;
    margin:0 0
}

.flair-positioning {
    top:30%;
    left:-.6%;
    position:absolute;
}

.corner {
    position:absolute;
    z-index: -0;
    margin:0 0;
    transform:scaley(-1)
}

.corner-positioning {
    bottom:120px;
    left:-.6%;
    position:absolute;
}

.icons {
    padding: 0;
}

.icons li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    padding: 10px 5px 0 5px;
}

.hype {
    padding: 0 .5%;
    color: #AAB1BD;
}

.twitter {
    padding: 0 .5%;
    color: #AAB1BD;
}

.twitch {
    padding: 0 .5%;
    color: #AAB1BD;
}

.youtube {
    padding: 0 .5%;
    color: #AAB1BD;
}

.discord {
    padding: 0 .5%;
    color: #AAB1BD;
}

.tiktok {
    padding: 0 .5%;
    color: #AAB1BD;
}

.instagram {
    padding: 0 .5%;
    color: #AAB1BD;
}

.hype:hover {
    color: #fa69ff;
}

.twitter:hover {
    color: #fa69ff;
}

.twitch:hover {
    color: #fa69ff;
}

.youtube:hover {
    color: #fa69ff;
}

.discord:hover {
    color: #fa69ff;
}

.tiktok:hover {
    color: #fa69ff;
}

.instagram:hover {
    color: #fa69ff;
}

.button {
    text-decoration: none;
    color: #E43ABB;
    border: 1px solid #E43ABB;
    background: none;
    padding: 5px 40px;
    position:relative;
}

.button-align {
    position: absolute;
    bottom: 15px;
    right: 1;
}

.button:hover {
    background: #34F27B;
}

.footer {
    position:absolute;
    bottom:10px;
    left:10px;
    z-index: 1;
}

.insta {
    margin-left:140px;
    bottom:10px;
    color:#E9E9E9
}

.insta:hover {
    color:royalblue;
}

#medium-widget {
    background-color:#d1d7e0;
    position:relative;
    padding-left:1%;
    padding-right:1%;
    padding-bottom:2.5%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.medium-widget-positioning {
    position:absolute;
    bottom:-180px;
    z-index: 0
}

.updates-positioning {
   text-align: center;
   position:relative;
}

.updates {
    position:relative;
    padding-bottom: 20px;
}

.separator {
    display: inline-flex;
    color:blue;
    z-index: 10;

}

.logo {
    position:absolute;
    margin-top:30px;
    margin-left:100px;
}

.logo-wrapper {
    position:relative;
}

.paragraph {
    width:300px;
    position:absolute;
    color:#E9E9E9;
    margin-top:200px;
    margin-left:30px;
    word-wrap: break-word;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--2 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--5 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 11;
}

.gallery__item--6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 12;
}

.gallery__item--7 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 14;
}

.gallery__item--8 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 12;
    grid-row-end: 15;
}

.gallery__item--9 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 14;
    grid-row-end: 17;
}

.gallery img {
    border-radius: 10px;
}

 .gallery-wrapper {
     height:75%;
     width: 40%;
     margin:auto;
     margin-top:13%;
     overflow:hidden;
     overflow-y:scroll;
 }

 .gallery-wrapper::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.699);
     border-radius: 10px;
 }
 
 .gallery-wrapper::-webkit-scrollbar
 {  
     width: 10px;
     background-color: 
 }
 
 .gallery-wrapper::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #555;
 }

 .portfolio {
     color:#E9E9E9;
     text-align: center;
 }

 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }

 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }

 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }

 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }
